<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>

	<title>BIM - Bullet in mind</title>  
	<!-- Our custom css stylesheet, one from jscrollpane and one for jqueryUI. Order is important! bim.css must be the last one! -->
	<link type="text/css" href="{{ url_for('static',filename='frameworks/jScrollPane/jquery.jscrollpane.css') }}" rel="stylesheet" media="all" />
	<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="{{ url_for('static',filename='styles/bim.css') }}">
	<!-- jQuery and everything for the map -->
	<link rel="stylesheet" href="{{ url_for('static',filename='frameworks/jVectorMap/jquery-jvectormap-2.0.3.css') }}" type="text/css" media="screen"/>
	<script src="{{ url_for('static',filename='frameworks/jquery-3.2.1.min.js') }}"></script>
	<script src="{{ url_for('static',filename='frameworks/jVectorMap/jquery-jvectormap-2.0.3.min.js') }}"></script>
	<script src="{{ url_for('static',filename='maps/jquery-jvectormap-us-merc.js') }}"></script>
	<!-- Including our data from separated files -->
	<script src="{{ url_for('static',filename='data/data_backgroundchecks_generated.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_shootings_generated.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_news.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_news_guardian.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_law_generated.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_population_generated.js') }}"></script>
	<script src="{{ url_for('static',filename='data/data_keyword_list.js') }}"></script>
	<!-- Needed for the custom scrollbar -->
	<script type="text/javascript" src="{{ url_for('static',filename='frameworks/jScrollPane/jquery.mousewheel.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static',filename='frameworks/jScrollPane/jquery.jscrollpane.min.js') }}"></script>
	<!-- Needed for the custom slider -->
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body>
		<div id="us-map">
			<div id="map-legend">
			<p id="map-legend-label">Average background checks / citizen</p>
			</div>
		</div>

		<div id="right-panel">
			<div id="menu-holder">
				<button id="btLaw" onClick="showLaw()" class="buttonMenu">Law</button>
				<button id="btNews" onClick="showNews()" class="buttonMenu">News</button>
				<button id="btDetails" onClick="showDetails()" class="buttonMenu">Details</button>
			</div>

			<div id="scroller" class="scroll-pane">
				<div id="information-holder">
					<p><br><br><br><br>News and the legal situation will be displayed<br>here for <a id="code-display"> - select anything - </a>.</p>
				</div>
			</div>

			<div id="submenu-holder">
				<button id="increaseTextSize" onClick="changeTextSize(10)" class="buttonSub">+</button>
				<button id="decreaseTextSize" onClick="changeTextSize(-10)" class="buttonSub">-</button>
				<button id="info" onClick="openPopup()" class="buttonSub">info</button>
			</div>
		</div>

		<!-- The info-popup -->
		<div id="popupInfo" class="popupCentered">
			<div id="holderInfo" class="middleDiv">	  
			  <div class="contentInfoPopup">
				<span class="close" onClick="closePopup()">&times;</span>
				<h2>Bullet in mind</h2>
				<p>BIM is an interactive tool to visually explore data concerning gun ownership and mass shootings in the USA between 1999 and 2016. Please read the further information below carefully to avoid misunderstandings what the data shows and what it does not show.<br><br></p>
			  
				<h4>Mass shootings</h4>
				<p>The dataset we used to extract data about shootings is the <a target="_blank" href="https://library.stanford.edu/projects/mass-shootings-america">Stanford MSA</a> released on July the 14th 2016. It is important to notice that this dataset does not contain a comprehensive collection of all shootings and that the focus of the collection is set on well investigated references instead of a representive dataset of all shootings. That is why BIM allows you to investigate single mass shootings and to combine them with further information instead of giving you the possibility to achieve representive conclusions about regions when it comes to shootings. Furthermore it is important to know that mass shootings as collected in the Stanford MSA are defined as shootings with three ore more injured or killed victims. The extracted data is displayed in the details-area.<br><br></p>
				<h4>Historical news</h4>
				<p>The historical news shown for single shootings have been extracted from the <a target="_blank" href="http://query.nytimes.com/search/sitesearch/">New York Times Archive</a> using the open API for the article-search. The shown articles have been published in the first two days after the corresponding shooting. The extracted data is displayed in the news-area.<br><br></p>
				<h4>Legal situation</h4>
				<p>The legal situation for each state has been extracted from the <a target="_blank" href="https://en.wikipedia.org/wiki/Gun_laws_in_the_United_States_by_state">Wikipedia</a>. The extracted data is displayed in the law-area.<br><br></p>
				<h4>NICS background checks</h4>
				<p>The NICS-data visualized by the states' background colors represents the amount of background checks made by the <a target="_blank" href="https://www.fbi.gov/services/cjis/nics">National Instant Criminal Background Check System</a> and has been extracted from the <a target="_blank" href="https://www.fbi.gov/file-repository/nics_firearm_checks_-_month_year_by_state.pdf">FBI's report</a> about these background checks. It is important to notice that this data may approach the amount of gun ownership but that it is not necessary representive due to different legal situations per state.<br>You can explore the average number of NICS background checks per year by hovering over a state.</p>
				</div>
			</div>
		</div>

		<!-- The multiple-marker-selection-popup -->
		<div id="popupMMS" class="popupCentered">
			<div id="holderMMS" class="middleDiv">
		  		<div class="contentSelPopup">
					<span class="close" onClick="cancelMultipleSelection()">&times;</span>
					<h4 id="headerMSS">headerPlaceholder</h4>
					<h4 id="headerMSS">Please select one from the list:</h4><br>
					<div id="listMSS"></div>
				</div>
			</div>
		</div>

	<div id="map-slider-label"><p>Shootings from 1999 to 2016'</p></div>
	<div id="map-slider"></div>
	
	<script type text/javascript>

	var map = undefined;  					//Global variable to guarantee access of the map
	var minimalZoom = 0.9;					//Defined here to make changes easier
	var btBgColorSelected = '#3D444D'; 		//For the menu buttons on top right
	var btBgColorUnselected = '#383f47'; 	//For the menu buttons on top right
	var colorGeoSelected = '#660000'; 		//For the menu buttons on top right
	var currentContentSize = 90;
	var MIN_YEARS = 1999;
	var MAX_YEARS = 2016;
	var yearIntervallStart = MIN_YEARS;
	var yearIntervallEnd = MAX_YEARS;
	var filteredShootings = shootingsData;	//The shooting filtered by the year intervall

	const LEGEND_ITEMS = 8;					//This value can be changed
	const LEGEND_START_VAL = 0.0;
	const LEGEND_END_VAL = 0.4;
	const LEGEND_STEPSIZE = (LEGEND_END_VAL - LEGEND_START_VAL) / LEGEND_ITEMS;

	const SUB_LAW = 0;
	const SUB_NEWS = 1;
	const SUB_DETAILS = 2;

	var selectedSubmenu = SUB_LAW;					//Value must be one of the const variables above
	var shootingsInSelectedState = [];				//For the details section
	var selectedState = '';							//For the sections in menu
	var selectedMarker = -1;						//For the sections in menu
	var markersVisible = true;						//Initial value for toggleButton

	var popupInfo = null;
	var popupMMS = null;
	var holderInfo = null;
	var holderMMS = null;

	$(function(){

		//Initialize the map
		map = new jvm.Map({
    		container: jQuery('#us-map'),
			map: 'us_merc',
			zoomMin: minimalZoom,
			focusOn: {lat: 0, lng: 0, x: 1, y: 1, scale: minimalZoom},
			regionsSelectableOne: true,
			regionsSelectable: true,
			markersSelectableOne: true,
			markersSelectable: true,
			markerStyle: {
					initial: {			//Markerstyle
						fill: '#F8E23B',
						stroke: '#383f47'
						},
	  				selected: {
						fill: colorGeoSelected,
						stroke: '#CCCCCC'
	  					}
			},
			regionStyle: {			//Regionstyle - only customized thing is the stroke
				  selected: {
					stroke: colorGeoSelected,
					"stroke-width": 0.6,
				  }
			},
			backgroundColor: 'transparent',
			markers: shootingsData,			//Use marker data from data_shootings.js
			series: {
				regions: [{
					values: calculateCheckAverages(),	//Use average numbers of background checks in timespan
					scale: ['#d8f3ff', '#004f72'],	//Colormap - TODO: Maybe we should update it?
					normalizeFunction: 'polynomial'
				}]
			},
			onRegionTipShow: function(e, tip, code){		//Region tip
				tip.html(tip.html()+ ' (' + getAverageChecksFromTimespan(code, yearIntervallStart, yearIntervallEnd) + ')');
			},
			onMarkerTipShow: function(e, tip, code){		//Region tip
				tip.html(shootingsData[code].city);
			},
			onRegionClick: function(event, code) {		//State click
				//Save the corresponding shootings for selected state
				selectedState = code;
				shootingsInSelectedState = getFilteredShootingsForState(code);
				map.clearSelectedMarkers();
				selectedMarker = -1;
				updateInformationArea();
				},
			onMarkerClick: function(event, code) {		//Shooting click
				// Get all ms for this location
				shootingsForStateAndTime = getFilteredShootingsForState([shootingsData[code].state]);
				shootingsForThisLocation = [];
				city = shootingsData[code].city
				for(i=0; i<shootingsForStateAndTime.length; i++){
					if(city===shootingsData[shootingsForStateAndTime[i]].city){
						shootingsForThisLocation.push(shootingsForStateAndTime[i]);
					}
				}
				// Select or let select
				if(shootingsForThisLocation.length == 1){
					handleMarkerSelection(code);
					}
				else {
					showMultipleMarkerSelection(code, city, shootingsForThisLocation);
				}
			}});
			
			//Add a costum button for hiding/showing the shooting-data
			$(".jvectormap-container").append('<div id="map-action" onClick="toggleMarkers()">Hide shootings</div>');

			//Add a costum button for displaying the key phrase list
			$(".jvectormap-container").append('<div id="div_button_keyword_list"><button id="button_keyword_list" onClick="toggleKeywordList()">Key Phrases</button><div id="div-keyphrase-list"></div></div>');

			//Fill the keyphrase list
			fillKeyphraseList();

			//Add custom scrollbar
			$('.scroll-pane').jScrollPane();
			scroller = document.getElementById('scroller');
			if(scroller!=null){
				scroller.style.height = '82%';
				}

			//Show law as first menu
			showLaw();

			//Add custom slider for the years
			$( "#map-slider" ).slider({
				range: true,
				min: MIN_YEARS,
				max: MAX_YEARS,
				draggable: true,
				values: [ MIN_YEARS, MAX_YEARS ],
				slide: function( event, ui ) {
					document.getElementById('map-slider-label').innerHTML = "Shootings from " + ui.values[ 0 ] + " to " + ui.values[ 1 ];
					yearIntervallStart = ui.values[0];
					yearIntervallEnd = ui.values[1];
					updateLaw();
					map.series.regions[0].setValues(calculateCheckAverages());
					map.removeAllMarkers();
					filteredShootings = getFilteredShootings();
					map.addMarkers(filteredShootings);
				}
			});
			document.getElementById('map-slider-label').innerHTML = "Shootings from " + $( "#map-slider" ).slider( "values", 0 ) + " to " + $( "#map-slider" ).slider( "values", 1 );

			// Handle everything concerning the popups
			popupInfo = document.getElementById('popupInfo');
			popupMMS = document.getElementById('popupMMS');
			holderInfo = document.getElementById('holderInfo');
			holderMMS = document.getElementById('holderMMS');
			window.onclick = function(event) {
				if (holderInfo !=null && event.target == holderInfo) {
					popupInfo.style.display = "none";
				} else if(holderMMS !=null && event.target == holderMMS){
					cancelMultipleSelection();
				}
			}

			initLegend();

	});

	//init the legend
	function initLegend(){
		legendContent = "<table><tr>"
		for (i = LEGEND_START_VAL; i <= LEGEND_END_VAL; i=i+LEGEND_STEPSIZE) {
			color = map.series.regions[0].scale.getValue(roundAndFormatNumber(i,2));
    		legendContent += '<td style="background: ' + color + '; color: ' + color + '">' + roundAndFormatNumber(i,2) + '</td>'
			}

		legendContent += "<\/tr><tr>"

		for (i = LEGEND_START_VAL; i <= LEGEND_END_VAL; i=i+LEGEND_STEPSIZE) {
    		legendContent += '<td><p>' + roundAndFormatNumber(i,2) + '</p></td>'
			}
			    
		legendContent += '</tr></table>'
		 $( "#map-legend" ).append( legendContent );
		}

	function roundAndFormatNumber(rnum, rlength) { // Arguments: number to round, number of decimal places
	  rounded = Math.round(rnum*Math.pow(10,rlength))/Math.pow(10,rlength);
	  return rounded.toFixed(2);
	}

	//abort the multiple selection
	function cancelMultipleSelection(){
		hideMultipleMarkerSelection();
		clearMarkerSelection();
		}

	//clear the marker selection
	function clearMarkerSelection(){
		map.clearSelectedMarkers();
		selectedMarker = -1;
		}

	//Show the mms-popup
	function showMultipleMarkerSelection(code, city, shootingsForThisCity){
			// Adapt selection
			map.clearSelectedRegions();
			selectedState = [shootingsData[code].state];
			selectedMarker = -1;
			map.setSelectedRegions([shootingsData[code].state]);
			shootingsInSelectedState = getFilteredShootingsForState(selectedState);
			updateInformationArea();

			shootingsContent = "<br><table>";
			for(i=0; i<shootingsForThisCity.length; i++){
					shootingsContent += constructHtmlFormattedTableEntry(shootingsData[shootingsForThisCity[i]], shootingsForThisCity[i]);
			}
			shootingsContent += "</table>";
			if(popupMMS!=null){
				document.getElementById('headerMSS').innerHTML = "We have listed more than one mass shooting for " + city + ".";
				document.getElementById('listMSS').innerHTML = shootingsContent;
				popupMMS.style.display = "table";
			}
	}

	//Construct html formatted entry for mss
	function constructHtmlFormattedTableEntry(shooting, markerCode){
		content = "<p class=\"mmsEntryHead\">" + shooting.name + "</p>"
		content += '<p  class=\"mmsEntryDate\">' + shooting.date + "</p>"
		content += '<p class=\"mmsEntryDescription\">' + shooting.description.substring(0, Math.min(150, shooting.description.length)) + "..." + "</p>"
		return "<tr><td style=\"cursor:pointer\"; onClick=handleListSelection(" + markerCode.toString() + "," + false + ")>" + content + "</td></td>"
	}

	//Close the mms-popup
	function hideMultipleMarkerSelection(){
			if(popupMMS!=null){
				popupMMS.style.display = "none";		
				}
	}
	//Close the info popup
	function openPopup(){
			if(popupInfo!=null){
				popupInfo.style.display = "table";			
				}
			}

	//Close the info popup
	function closePopup(){
			if(popupInfo!=null){
				popupInfo.style.display = "none";			
				}
			}			
			
	//Interaction functionality : handle selection in popup 
	function handleListSelection(code){
		hideMultipleMarkerSelection();
		handleMarkerSelection(code, false);
	}

	//Interaction functionality : handle marker selection Warning: Code must be a string even if it only consists of the number 
	function handleMarkerSelection(code, selectedOnMap=true){
			if(!selectedOnMap){
				map.setSelectedMarkers(code)			
			}
			//Select corresponding region too
			map.clearSelectedRegions();
			selectedState = [shootingsData[code].state];
			selectedMarker = code;
			map.setSelectedRegions([shootingsData[code].state]);
			updateInformationArea();
	}

	//Interaction functionality : toggle markers' visibility
	function toggleMarkers(){
		if(markersVisible){
			map.removeAllMarkers();
			selectedMarker = -1;
			markersVisible = false;
			document.getElementById('map-action').innerHTML = "Show shootings";
			}
		else {
			filteredShootings = getFilteredShootings();
			map.addMarkers(filteredShootings);
			markersVisible = true;
			document.getElementById('map-action').innerHTML = "Hide shootings";
			}
	updateInformationArea();
	}

	//Update information area: Updates the currently visible submenu 
	function updateInformationArea(){
		if(selectedSubmenu==SUB_DETAILS){
			updateDetails();
			}
		else if(selectedSubmenu==SUB_NEWS){
			updateNews();
			}
		else if(selectedSubmenu==SUB_LAW){
			updateLaw();
			}
		}

	//Update the news
	function updateNews(){
		var newContent = "<div id='nyt-articles'><table id='tbl_news' style='width:100%'>"
		if(selectedMarker != -1){

			for(i = 0; i < newsData.length; i++) {
				if(newsData[i].id == selectedMarker && newsData[i].html.indexOf('No relevant news stories were found.') < 0) newContent += newsData[i].html
			}			

			for(j = 0; j < newsDataGuardian.length; j++) {
				if(newsDataGuardian[j].id == selectedMarker && newsDataGuardian[j].html.indexOf('No relevant news stories were found.') < 0) newContent += newsDataGuardian[j].html
			}
			if(newContent == "<div id='nyt-articles'><table id='tbl_news' style='width:100%'>") newContent += "<p><br><br><br>No relevant news stories were found.<br></p>";
			
			newContent += "</table></div>"

		}
		else{
			newContent = "<p><br><br><br><br>";
			newContent += "Select a shooting on the map to see the NewYorkTimes-<br>Archive for more information about it."
			newContent += " <br></p>";
		}
		document.getElementById('information-holder').innerHTML = newContent;

		refreshScroller();
		}

	//Update the law
	function updateLaw(){
		//Check if law situation is available in lawDict
		var newContent = "<p id=\"content\"><br><br><br><br> Please select a state by clicking on the<br>map to explore it's legal situation. <br></p>";
		if(selectedState != '') {
			var lawForState = lawDict[selectedState];
			if(typeof lawForState == 'undefined') {
				newContent = "<p><br><br><br><br> Legal situation for " + map.getRegionName(selectedState) + "<br> could not be found.</p>";			
				}
			else {
				newContent = lawForState + "<br>";
				}
			}

		//Replace content
		document.getElementById('information-holder').innerHTML = newContent;

		refreshScroller();
		}


	//Increase text size
	function changeTextSize(byValue){
		informationHolder = document.getElementById('information-holder');
		if(informationHolder!=null){
			currentContentSize += byValue;
			informationHolder.style.fontSize = currentContentSize+'%';
			}
		refreshScroller();
		}

	//Refresh ScrollPane. This must be called everytime the displayed content in the infoArea changes
	function refreshScroller() {
    	var pane = $('.scroll-pane');
    	var api = pane.data('jsp');
    	api.reinitialise();
		}

	//Update the details
	function updateDetails(){
		var newContent = "<br><br>";
		if(selectedState.length == 0 && selectedMarker == -1){
			// CASE: Nothing selected
			newContent = "<p><br><br><br><br>";
			newContent += "Please select something by clicking on<br>the map to see some details.";
			newContent += " <br></p>";	
			}
		else {
			if(selectedMarker != -1) {
				// CASE: Shooting selected
				newContent += "<h2>" + shootingsData[selectedMarker].name + "</h2><br><br><table style=\"margin-left: auto; margin-right: auto;\">";
				newContent += "<tr class=\"withSpace\"><td>State:</td><td>" + map.getRegionName(shootingsData[selectedMarker].state) + "</th></tr>";
				newContent += "<tr class=\"withSpace\"><td>City:</td><td>" + shootingsData[selectedMarker].city + "</th></tr>";
				newContent += "<tr class=\"withSpace\"><td>Date:</td><td>" + shootingsData[selectedMarker].date + "</td></tr>";
				newContent += "<tr class=\"withSpace\"><td>Killed:</td><td>" + shootingsData[selectedMarker].killed + "</td></tr>";
				newContent += "<tr class=\"withSpace\"><td>Injured:</td><td>" + shootingsData[selectedMarker].injured + "</td></tr>";
				newContent += ("</table>");
				newContent += ("<br><br>");
				newContent += ("<p>" + shootingsData[selectedMarker].description + "</p>");
				}
			else{
				// CASE: State selected
				if(markersVisible){
					var shootingsCount = typeof shootingsInSelectedState == 'undefined' ? 0 : shootingsInSelectedState.length;
					newContent += "We have listed " + shootingsCount;
					newContent += shootingsCount==1 ? " shooting " : " shootings ";
					newContent += " for " + map.getRegionName(selectedState);
					newContent += shootingsCount>0 ? ":<br><br>" : ".";
					for (i = 0; i < shootingsCount; i++) {
					    newContent += "<br><u style=\"cursor:pointer\"; onClick=handleMarkerSelection(" + shootingsInSelectedState[i].toString() + "," + false + ")>" + shootingsData[shootingsInSelectedState[i]].city + " (" + shootingsData[shootingsInSelectedState[i]].date + ")" + "</u><br>";
						}
					}
				else {
					newContent += "Placeholder for details on " + map.getRegionName(selectedState) + ".";
					}					
				}
			}	
		newContent += "<br>";
		document.getElementById('information-holder').innerHTML = newContent;

		refreshScroller();
		}

	//Show the law-content to the right
	function showLaw(){
		document.getElementById('div_button_keyword_list').style.visibility='hidden';
		document.getElementById('div-keyphrase-list').style.display = 'none';

		document.getElementById('btLaw').style.background = btBgColorSelected;
		document.getElementById('btDetails').style.background = btBgColorUnselected;
		document.getElementById('btNews').style.background = btBgColorUnselected;

		selectedSubmenu = SUB_LAW;
		updateLaw();
		}

	//Show the news-content to the right
	function showNews(){
		document.getElementById('div_button_keyword_list').style.visibility='visible';

		document.getElementById('btNews').style.background = btBgColorSelected;
		document.getElementById('btLaw').style.background = btBgColorUnselected;
		document.getElementById('btDetails').style.background = btBgColorUnselected;

		selectedSubmenu = SUB_NEWS;
		updateNews();
		}

	//Show the details-content to the right
	function showDetails(){
		document.getElementById('div_button_keyword_list').style.visibility='hidden';
		document.getElementById('div-keyphrase-list').style.display = 'none';

		document.getElementById('btDetails').style.background = btBgColorSelected;
		document.getElementById('btLaw').style.background = btBgColorUnselected;
		document.getElementById('btNews').style.background = btBgColorUnselected;

		selectedSubmenu = SUB_DETAILS;
		updateDetails();
		}

	function toggleKeywordList(){
		$( "#div-keyphrase-list" ).toggle();
	}


	// Calculate the average number of background checks for a given state and timespan between two years, normalized by the population numbers of the state
	function getAverageChecksFromTimespan(state, yearStart, yearEnd){
		avg = backgroundCheckData[state][yearStart - MIN_YEARS];
		pop_count = populationData[state][yearStart - MIN_YEARS];
		yearIter = yearStart;
		while(yearIter < yearEnd) {
			yearIter++;
			avg += backgroundCheckData[state][yearIter - MIN_YEARS];
			pop_count += populationData[state][yearIter - MIN_YEARS];
		}
		
		if(pop_count == 0) pop_count = -1;
		else pop_count = pop_count/(yearEnd - yearStart +1);

		return Math.round( ((avg/(yearEnd - yearStart +1))/pop_count) * 100) / 100;
	}	

	// Calculate the average number of background checks for all states 
	function calculateCheckAverages(){
		var averageCheckValues = {};

		for(var key in backgroundCheckData){
			averageCheckValues[key] = getAverageChecksFromTimespan(key, yearIntervallStart, yearIntervallEnd);
		}
		return averageCheckValues;
	}

	// Returns shooting data filtered by the selected timespan in years
	function getFilteredShootings(){
		var filteredShootingsData = [];

		for(var i=0; i<shootingsData.length; i++){
			var shooting_date = shootingsData[i].date;
			var isInRange = false; 
			for(var j = yearIntervallStart; j <= yearIntervallEnd; j++) {
				if(shooting_date.indexOf(j.toString()) >= 0) {
					isInRange = true;
					break;
				}
			}
			if(isInRange) filteredShootingsData.push(shootingsData[i]);
			else filteredShootingsData.push({});
		}
		return filteredShootingsData;
	}

	// Returns shooting data for a single state filtered by timespan
	function getFilteredShootingsForState(stateCode){
		var availableIndexes = [];
		var res = [];
		var allIndexes = stateToShootingIndexDict[stateCode];
		for(var i=0; i<filteredShootings.length; i++){
			availableIndexes.push(filteredShootings[i].id);
		}
		for(var j=0; j<allIndexes.length; j++) {
			if(availableIndexes.indexOf(allIndexes[j]) != -1) res.push(allIndexes[j])
		}
		return res;
	}

	// Fill keyphrase table with entries fom keyphrase file
	function fillKeyphraseList(){

		html_string = "<table id='tbl_keyphrases' style='width:100%'>";
		for(var i=0; i<keyphraseList.length; i++){

			html_string += '<div><tr><td><p><b><span class="t_left">' + keyphraseList[i]['phrase'] + '  </span><span class="t_right"> Score: ' + Math.round(keyphraseList[i]['score'] * 1000) / 1000 + '</span></b></p></td></tr></div>';
		}
		html_string += "</table>"
		$('#div-keyphrase-list').empty();
		$('#div-keyphrase-list').append(html_string);
	}

	</script>

</body>
</html>
