

html, body {
	margin: 0;
    width: 100%;
	height: 100%;
    background-image: url("./stripes.png"); /*  #383f47; */
}


/* currently the short description text in the information panel - will be changed the moment content is displayed */

p {
	font-family: "Times New Roman", Times, serif;
	width: 100%;
	height: 100%;
    color: #959595;
}


/* left-panel containing only the map (#383f47 is it's backgroundcolor defined in the jvm-css)  */

#us-map {
    width: 59.8%;
	float: left;
	height: 100%;
}


/* right-panel containing the menu- and the information-holder */

#right-panel {
	width: 39.8%;
    float: right;
    background: #383f47;
	height: 100%;
    -webkit-box-shadow: -5px 0px 5px -3px #333333;
    box-shadow: -5px 0px 5px -3px #333333;
}


#menu-holder {
    background: #383f47;
	height:11%;
    display: flex;
    justify-content:space-between;
}

#submenu-holder {
    background: #383f47;
	height:4%;
    display: flex;
	margin-top: 10px;
    justify-content:space-between;
    -webkit-box-shadow: 4px -5px 5px -3px #333333;
    box-shadow: 4px -5px 5px -3px #333333;
}

#information-holder {
	/*height:1000px;		 workaround because all other values than fixed ones lead to cut off */
	overflow:visible;
	color: #959595;
	font-size: 90%;
}

/* Adjust content's style to our design*/
a {
    color: #959595;
	}


/* buttons for the top menu in the right-panel */
.buttonMenu {
	width: 33.33%;
    border: none;
	color: #959595;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
    background: #383f47;
    cursor: pointer;
    -webkit-box-shadow: -4px 5px 5px -3px #333333;
    box-shadow: -4px 5px 5px -3px #333333;
}

.buttonMenu:hover {
    color: white;
	font-size: 140%;
}


/* buttons for the top menu in the right-panel */
.buttonSub {
	width: 33.33%;
    border: none;
	color: #959595;
    padding: 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
    background: #383f47;
    cursor: pointer;
    -webkit-box-shadow: -4px 5px 5px -3px #333333;
    box-shadow: -4px 5px 5px -3px #333333;
}

.buttonSub:hover {
    color: white;
}

/* Hide firefox's ugly dotted line which by default is shown after click on an object */
.button::-moz-focus-inner {
	border: 0;
}

/* Hide chrome's ugly line which by default is shown after click on an object */
button:focus {
	outline:0;
}
div:focus {
	outline:0;
}

#div_button_keyword_list {
	visibility: hidden;
	position: absolute;
	right: 0px;
	top: 50%;
}

#button_keyword_list {
	border-radius: 20px;
	width: 115px;
    height: 80px;
	float: right;
	border: 3px;
	color: #959595;
    padding: 0px 0px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
	font-family: "Times New Roman", Times, serif;
	font-size: 120%;
    background: #2d3239;
    cursor: pointer;
    -webkit-box-shadow: -4px 5px 5px -3px #333333;
    box-shadow: -4px 5px 5px -3px #333333;
}

#button_keyword_list:hover {
    color: white;
}

#div-keyphrase-list {
	border-radius: 20px;
	padding-left: 6px;
	padding-right: 3px;	
	margin-left: 200px;
	float: right;
	display:none;
    background: #383f47;
    height:300px;
    overflow:scroll;
    border-style: solid;
    border-width: 5px;
    border-color: #33363b;
}

/* button for toggeling the view of the shootings */

#map-action {
	position: absolute;
	right: 10px;
	top: 10px;
	border-radius: 3px;
	z-index: 1000;
	background: #292929;
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	font-size: 80%; 
	line-height: 8px;
	padding: 6px;
	box-sizing: content-box;
}


/* slider for filtering of the shootings by year */

#map-slider-label {
	position: absolute;
	width:200px;
	right: 43%;
	bottom: 40px;
	border-radius: 3px;
	z-index: 900;
	background: #292929;
	color: #ffffff;
	text-align: center;
	font-size: 80%; 
	line-height: 8px;
	padding: 6px;
	box-sizing: content-box;
}

#map-slider {
	position: absolute;
	right: 43%;
	bottom: 10px;
	background: #292929;	/* unselected range */
	color: #ffffff;
	cursor: pointer;
	text-align: center;
	font-size: 80%; 
	line-height: 8px;
	padding: 6px;	
	width:200px;
	height:5px;
	box-sizing: content-box;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
	border: 1px solid #c5c5c5;
	background: #383f47;	/* handler */
	font-weight: normal;
	color: #454545;
}

.ui-slider-horizontal .ui-slider-handle {
	top: 0em;
	margin-left: -.6em;
}

.ui-widget-header {
	background: #2b3036;	/* selected range */
}


/* For customized scrolling */

.scroll-pane{
	width: 100%;
	height: 84%;
	overflow: auto;
	text-align: center;
}

.jspVerticalBar{
	width: 12px;
	top: 6px;
	right: 6px;
}

.jspCap {
	background: #383f47;
	display: block;
	height: 20px;
}

.jspTrack{
	background: #383f47;
	position: relative;
}

.jspDrag{
	background: #282e33;
	position: relative;
	border-radius: 10px;
	width: 6px;
	top: 3px;
	left: 3px;
	cursor: pointer;
}

/* Space for the table in the details section */

tr.withSpace>td {
  padding-bottom: 20px;
  padding-right: 40px;
}

/* Everything concerning the popups */

.popupCentered{
	width: 100%;
	padding: 0;
	display: none;
    z-index: 2000;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.middleDiv{
	padding: 0;
	vertical-align: middle;
	display: table-cell;
	margin: 0;
}

/* Popup Content/Box for info */
.contentInfoPopup {
    background-color: #383f47;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
	font-size: 82%;
	font-family: "Times New Roman", Times, serif;
	color: #fefefe;
    width: 80%;
}

.contentInfoPopup h2 {
	color: #dedede;
    padding: 0px;
    margin: 0px;
}

.contentInfoPopup h4 {
	color: #fefefe;
    padding: 0px;
    margin: 0px;
}


/* Popup Content/Box for MSS */
.contentSelPopup {
    background-color: #383f47;
    margin: 0% auto;
    padding: 20px;
    border: 1px solid #888;
	font-size: 82%;
	font-family: "Times New Roman", Times, serif;
	color: #fefefe;
    width: 40%;
}

.contentSelPopup h2 {
	color: #dedede;
    padding: 0px;
    margin: 0px;
}

.contentSelPopup h4 {
	color: #fefefe;
    padding: 0px;
    margin: 0px;
}

.mmsEntryHead {
	color: #fefefe;
    margin-right: 10px;
	display: inline;
	padding-bottom: 0px;
    margin-bottom: 0px;
}

.mmsEntryDate {
	color: #959595;
	display: inline;
	padding-bottom: 0px;
    margin-bottom: 0px;
}

.mmsEntryDescription {
	color: #959595;
	padding-top: 0px;
    margin-top: 5px;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
} 


hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #434b54;
    margin: 1em 0;
    padding: 0;
}

/* Styles for the news table */
table#tbl_news tr:nth-child(even) {
    background-color: #434b54;
}
table#tbl_news tr:nth-child(odd) {
    background-color: #383f47;
}

table#tbl_news td {
    padding: 8px;
}

/* Styles for the keyphrase table */
#tbl_keyphrases tr:nth-child(even) {
    background-color: #434b54;
}
#tbl_keyphrases tr:nth-child(odd) {
    background-color: #383f47;
}

#img-guardian{
	height:15%; 
	width:15%; 
	float:left;
}


#img-nyt{
	height:20%; 
	width:20%; 
	float:left;
}


.t_left {
    float: left;
    text-align: left;
}
.t_right {
    float: right;
    text-align: right;
    margin-right:20px;
}

/* Styles for the multiple marker selection table and header */
.contentSelPopup tr:hover {
    background-color: #434b54;
}
.contentSelPopup td {
    padding: 8px;
}
.contentSelPopup h4 {
    text-align: center;
}


/* Styles for the legend */

#map-legend {
	background: #292929;
	position:absolute;
	padding: 3px;
  	bottom:10px;
  	left:10px;
  	z-index: 900;
}

#map-legend p{
	font-size: 80%; 
	margin-top: 4px;
	margin-bottom: 2px;
	color: #ffffff;
	text-align: center;
}

#map-legend-label{
	text-align: center;
	padding: 0px;
}

#map-legend-value-start{
	float: left;
	width: 30%;
	margin-left: 6px;
}

#map-legend-value-end{
	float: right;
	width: 30%;
	text-align: right;
	margin-right: 6px;
}

#map-legend-scale {
	width: 200px;
	height: 20px;
	background: linear-gradient(to right, #d8f3ff 0%, #004f72 100%);
	margin-right: 5px;
	margin-left: 5px;
}
